*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1.75rem;
    color: #6f7175;
    font-family: 'Dosis', sans-serif;
    font-size: 62.5%;
}

#preloader{
    background-color: #E7DFDD;
    min-height: 100vh;
}

#status{
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

#status img{
    width: 200px;
}

.box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img{
    background-color: #FBFBFB;
    border-radius: 20px
}

.img img{
    width: 100%;
    border-radius: 20px
}

.separator{
    display: flex;
    align-items: center;
}

.separator div:nth-child(1),
.separator div:nth-child(3){
    background-color: #6f7175;
    width: 100%;
    height: 1px;
}

@media screen and (max-width:771px) {
    .box{
        max-width: 90%;
    }

    .display-mobile{
        margin-bottom: 50px;
    }
}

